.dataTables_wrapper .dt-buttons .btn {

    margin-right: 5px;
    border-radius: 5px;

}

.table thead {

    background: #3c8dbc;
    color: white;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {

    background: #3c8dbc !important;
    color: white !important;
    border-radius: 5px;

}